extends ../layout

block content
	.container
		.row
			.col-xs-3
				p.lead YelpCamp
				.list-group
					li.list-group-item.active Info 1
					li.list-group-item Info 2
					li.list-group-item Info 3
			.col-xs-9
				.thumbnail
					img.img-responsive(src=campground.image)
					.caption-full
						h4.pull-right $9.00/night
						h4 
							a= campground.name
						p= campground.description
				.well
					.text-right
						a(href="/campgrounds/"+campground._id+"/comments/new" class="btn btn-success") Add new comment
					hr
					each comment in campground.comments
						.row
							.col-xs-12
								strong=`${comment.author}`
								span.pull-right 10 days ago
								p= `${comment.text}`